# 0. Import packages/libraries

In [7]:
import pandas as pd
from sqlalchemy import create_engine, text
import sqlalchemy
import psycopg2

# 1. Dataset - Loading, Exploration and Cleaning

## 1.1 Dataset - Load

In [8]:
data = pd.read_csv('../data/dataset.csv')

## 1.2 Dataset - Explore

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         4798 non-null   object
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   object
 15  balance_event_date        4798 non-null   object
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   object
 18  available_balance         4798 non-null   object
dtypes: bool(2), int64(1), object(16)
memory usage: 646.7+ KB

In [10]:
data.head()

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
0,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"-105,19","1,05"
1,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"1,05","106,23"
2,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"104,5","105,19"
3,813199545,Jack Black,jack.black@example.com,555-012-3456,"1 February, 2025, 10:30:58.789",True,777 Rock N Roll,Hollywood,CA,90028,USA,Email,Bronze,True,"28 August, 1969","27 May, 2025, 20:40",EUR,"-371,94","2.177,78"
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"-165,5","1,66"

In [11]:
data[data['client_name']=='Henry Ford']

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
0,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"-105,19","1,05"
1,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"1,05","106,23"
2,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"104,5","105,19"
65,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","23 May, 2025, 20:13",EUR,"-71,4","0,69"
66,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","23 May, 2025, 20:13",EUR,"0,69","72,09"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3600,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","6 December, 2024, 18:56",EUR,"-47,12","81,47"
3625,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","5 December, 2024, 22:38",EUR,"-38,43","128,6"
3626,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","5 December, 2024, 22:38",EUR,"1,28","167,03"
3627,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","5 December, 2024, 22:38",EUR,"127,5","165,75"
3831,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","26 November, 2024, 10:14",EUR,"38,25","38,25"

In [12]:
data[data['client_name']=='Bob Johnson'][['registration_date', 'balance_event_date', 'available_balance', 'available_balance_delta']]

,registration_date,balance_event_date,available_balance,available_balance_delta
4,"9 September, 2024, 05:05:18.555","27 May, 2025, 13:56","1,66","-165,5"
5,"9 September, 2024, 05:05:18.555","27 May, 2025, 13:56","167,15","1,66"
6,"9 September, 2024, 05:05:18.555","27 May, 2025, 13:56","165,5","164,68"
10,"20 November, 2023, 08:30:23.123","27 May, 2025, 13:48","172,48","-100,37"
20,"9 September, 2024, 05:05:18.555","27 May, 2025, 09:42","0,82","-81,63"
...,...,...,...,...
4793,"20 November, 2023, 08:30:23.123","10 December, 2023, 17:35","1,38",-102
4794,"20 November, 2023, 08:30:23.123","10 December, 2023, 17:34","103,38","1,38"
4795,"20 November, 2023, 08:30:23.123","10 December, 2023, 17:34",102,"45,9"
4796,"20 November, 2023, 08:30:23.123","30 November, 2023, 12:30","56,1","17,85"
4797,"20 November, 2023, 08:30:23.123","30 November, 2023, 12:30","38,25","38,25"

In [13]:
unique_column_values = {column: (data[column].nunique(), data[column].unique()) for column in data.columns}

In [14]:
unique_column_values

{'substring': (13,
  array([338699727, 813199545, 178059014, 398404130, 816457126,  68835315,
          36062696, 626922847, 144499580, 363887089, 956885655,  57970528,
          51164261], dtype=int64)),
 'client_name': (12,
  array(['Henry Ford', 'Jack Black', 'Bob Johnson', 'Grace Kelly',
         'Charlie Brown', 'Frank White', 'Diana Prince', 'Ivy Green',
         'Karen Davis', 'Eve Adams', 'Liam Miller', 'Alice Smith'],
        dtype=object)),
 'email': (12,
  array(['henry.ford@example', 'jack.black@example.com',
         'bob.johnson@example.com', 'grace.kelly@example.com',
         'charlie.brown@12345', 'frank.white@example.com',
         'diana.prince@example.com', 'ivy.green@example.com',
         'karen.davis@example.com', 'eve.adams@example.com',
         'liam.miller@example.com', 'alice.smith@example.com'], dtype=object)),
 'phone_number': (12,
  array(['555-890-1234', '555-012-3456', '555-234-5678', '555-789-0123',
         '555-345-6789', '555-678-9012', '555-456-7890',
         '555-901-2345EXT123', '555-112-2334', '555-567-8901',
         '555-223-3445', '555-123-4567'], dtype=object)),
 'registration_date': (13,
  array(['5 November, 2024, 16:22:46.444', '1 February, 2025, 10:30:58.789',
         '9 September, 2024, 05:05:18.555',
         '20 November, 2023, 08:30:23.123',
         '22 September, 2024, 11:11:24.111',
         '1 October, 2024, 14:00:13.000', '25 June, 2024, 07:00:13.000',
         '1 November, 2024, 09:15:33.500', '10 October, 2024, 20:05:13.000',
         '5 November, 2024, 01:02:16.000', '7 July, 2024, 18:45:43.999',
         '1 January, 2025, 12:00:13.000', '15 November, 2024, 23:11:18.653'],
        dtype=object)),
 'is_active': (2, array([ True, False])),
 'address': (12,
  array(['555 Auto Way', '777 Rock N Roll', '456 Oak Ave', '444 Royal Dr',
         '789 Pine Ln', '333 Elm St', '101 Hero Blvd', '666 Garden Path',
         '888 Tech Park', '222 Apple Rd', '999 New Era St', '123 Main St'],
        dtype=object)),
 'city': (12,
  array(['Dearborn', 'Hollywood', 'Otherville', 'Monacoville', 'Smalltown',
         'Woodville', 'Metropolis', 'Greendale', 'Silicon Valley',
         'Fruitland', 'Future City', 'Anytown'], dtype=object)),
 'state_province': (9,
  array(['MI', 'CA', 'NY', 'MC', 'TX', 'GA', 'WA', 'FL', 'ON'], dtype=object)),
 'zip_code': (12,
  array(['48124', '90028', '10001', '98000', '75001', '30303', '90211',
         '98101', '94025', '33101', 'M5V 2H1', '90210'], dtype=object)),
 'country': (3, array(['USA', 'Monaco', 'Canada'], dtype=object)),
 'preferred_contact_method': (2, array(['Email', 'Phone'], dtype=object)),
 'customer_segment': (4,
  array(['Platinum', 'Bronze', 'Silver', 'Gold'], dtype=object)),
 'marketing_opt_in': (2, array([ True, False])),
 'birth_date': (12,
  array(['30 July, 1963', '28 August, 1969', '20 July, 1985',
         '1 January, 1955', '15 March, 1990', '25 April, 1982',
         '1 November, 1970', '5 December, 1988', '14 February, 1977',
         '10 September, 1995', '1 March, 2000', '1 January, 2026'],
        dtype=object)),
 'balance_event_date': (2830,
  array(['27 May, 2025, 21:20', '27 May, 2025, 20:40',
         '27 May, 2025, 13:56', ..., '10 December, 2023, 17:35',
         '10 December, 2023, 17:34', '30 November, 2023, 12:30'],
        dtype=object)),
 'acc_currency_code': (1, array(['EUR'], dtype=object)),
 'available_balance_delta': (2836,
  array(['-105,19', '1,05', '104,5', ..., '-269,59', '8,03', '268,21'],
        dtype=object)),
 'available_balance': (3674,
  array(['1,05', '106,23', '105,19', ..., '14,13', '103,38', '102'],
        dtype=object))}

In [15]:
data.groupby(['substring', 'client_name', 'birth_date', 'registration_date']).size().reset_index().rename(columns={0:'count'})

,substring,client_name,birth_date,registration_date,count
0,36062696,Frank White,"25 April, 1982","25 June, 2024, 07:00:13.000",382
1,51164261,Alice Smith,"1 January, 2026","15 November, 2024, 23:11:18.653",53
2,57970528,Liam Miller,"1 March, 2000","1 January, 2025, 12:00:13.000",279
3,68835315,Charlie Brown,"15 March, 1990","1 October, 2024, 14:00:13.000",500
4,144499580,Ivy Green,"5 December, 1988","10 October, 2024, 20:05:13.000",291
5,178059014,Bob Johnson,"20 July, 1985","9 September, 2024, 05:05:18.555",282
6,338699727,Henry Ford,"30 July, 1963","5 November, 2024, 16:22:46.444",297
7,363887089,Karen Davis,"14 February, 1977","5 November, 2024, 01:02:16.000",283
8,398404130,Bob Johnson,"20 July, 1985","20 November, 2023, 08:30:23.123",959
9,626922847,Diana Prince,"1 November, 1970","1 November, 2024, 09:15:33.500",459
10,813199545,Jack Black,"28 August, 1969","1 February, 2025, 10:30:58.789",295
11,816457126,Grace Kelly,"1 January, 1955","22 September, 2024, 11:11:24.111",305
12,956885655,Eve Adams,"10 September, 1995","7 July, 2024, 18:45:43.999",413

## 1.3 Dataset - Cleaning

### 1.3.1 Convert specific columns to date and timestamps/datetimes

In [16]:
data[['birth_date', 'registration_date', 'balance_event_date']]

,birth_date,registration_date,balance_event_date
0,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
1,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
2,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
3,"28 August, 1969","1 February, 2025, 10:30:58.789","27 May, 2025, 20:40"
4,"20 July, 1985","9 September, 2024, 05:05:18.555","27 May, 2025, 13:56"
...,...,...,...
4793,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:35"
4794,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:34"
4795,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:34"
4796,"20 July, 1985","20 November, 2023, 08:30:23.123","30 November, 2023, 12:30"
4797,"20 July, 1985","20 November, 2023, 08:30:23.123","30 November, 2023, 12:30"

In [17]:
data['birth_date'] =  pd.to_datetime(data['birth_date'], format='mixed')#.dt.date
data['registration_date'] =  pd.to_datetime(data['registration_date'], format='mixed')
data['balance_event_date'] =  pd.to_datetime(data['balance_event_date'], format='mixed')

In [18]:
data['birth_date']

0      1963-07-30
1      1963-07-30
2      1963-07-30
3      1969-08-28
4      1985-07-20
          ...
4793   1985-07-20
4794   1985-07-20
4795   1985-07-20
4796   1985-07-20
4797   1985-07-20
Name: birth_date, Length: 4798, dtype: datetime64[ns]

In [19]:
data['registration_date']

0      2024-11-05 16:22:46.444
1      2024-11-05 16:22:46.444
2      2024-11-05 16:22:46.444
3      2025-02-01 10:30:58.789
4      2024-09-09 05:05:18.555
                 ...
4793   2023-11-20 08:30:23.123
4794   2023-11-20 08:30:23.123
4795   2023-11-20 08:30:23.123
4796   2023-11-20 08:30:23.123
4797   2023-11-20 08:30:23.123
Name: registration_date, Length: 4798, dtype: datetime64[ns]

In [20]:
data['balance_event_date']

0      2025-05-27 21:20:00
1      2025-05-27 21:20:00
2      2025-05-27 21:20:00
3      2025-05-27 20:40:00
4      2025-05-27 13:56:00
               ...
4793   2023-12-10 17:35:00
4794   2023-12-10 17:34:00
4795   2023-12-10 17:34:00
4796   2023-11-30 12:30:00
4797   2023-11-30 12:30:00
Name: balance_event_date, Length: 4798, dtype: datetime64[ns]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         4798 non-null   datetime64[ns]
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   datetime64[ns]
 15  balance_event_date        4798 non-null   datetime64[ns]
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   object
 18  available_balance         4798 non-null   object
dtypes: bool(2), datetime64[ns](3), int64(1), object(13)
memory usage: 646.7+ KB

### 1.3.2 Convert balance columns to float/numeric

In [22]:
data['available_balance_delta'].unique()

array(['-105,19', '1,05', '104,5', ..., '-269,59', '8,03', '268,21'],
      dtype=object)

In [23]:
data['available_balance_delta']

0       -105,19
1          1,05
2         104,5
3       -371,94
4        -165,5
         ...
4793       -102
4794       1,38
4795       45,9
4796      17,85
4797      38,25
Name: available_balance_delta, Length: 4798, dtype: object

In [24]:
data['available_balance_delta'].str.replace('.','').str.replace(',','.')

0       -105.19
1          1.05
2         104.5
3       -371.94
4        -165.5
         ...
4793       -102
4794       1.38
4795       45.9
4796      17.85
4797      38.25
Name: available_balance_delta, Length: 4798, dtype: object

In [25]:
pd.to_numeric(data['available_balance_delta'].str.replace('.','').str.replace(',','.'))

0      -105.19
1         1.05
2       104.50
3      -371.94
4      -165.50
         ...
4793   -102.00
4794      1.38
4795     45.90
4796     17.85
4797     38.25
Name: available_balance_delta, Length: 4798, dtype: float64

In [26]:
data['available_balance']

0           1,05
1         106,23
2         105,19
3       2.177,78
4           1,66
          ...
4793        1,38
4794      103,38
4795         102
4796        56,1
4797       38,25
Name: available_balance, Length: 4798, dtype: object

In [27]:
data['available_balance_delta'] = pd.to_numeric(data['available_balance_delta'].str.replace('.','').str.replace(',','.'))
data['available_balance'] = pd.to_numeric(data['available_balance'].str.replace('.','').str.replace(',','.'))

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         4798 non-null   datetime64[ns]
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   datetime64[ns]
 15  balance_event_date        4798 non-null   datetime64[ns]
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   float64
 18  available_balance         4798 non-null   float64
dtypes: bool(2), datetime64[ns](3), float64(2), int64(1), object(11)
memory usage: 646.7+ KB

### 1.3.3 - Rename columns substring and client_name

In [29]:
data.rename(columns = {'substring': 'account_id', 'client_name': 'account_holder'}, inplace = True)

### 1.3.4 - Create column client_id

In [30]:
client_mapping = {}
count = 1
for name in data['account_holder'].unique():
    client_mapping[name] = count
    count+=1

In [31]:
data['client_id'] = data['account_holder'].map(client_mapping)

In [32]:
data[data['account_holder']=='Bob Johnson'][['account_holder', 'client_id', 'registration_date']]

     account_holder  client_id       registration_date
4       Bob Johnson          3 2024-09-09 05:05:18.555
5       Bob Johnson          3 2024-09-09 05:05:18.555
6       Bob Johnson          3 2024-09-09 05:05:18.555
10      Bob Johnson          3 2023-11-20 08:30:23.123
20      Bob Johnson          3 2024-09-09 05:05:18.555
...             ...        ...                     ...
4793    Bob Johnson          3 2023-11-20 08:30:23.123
4794    Bob Johnson          3 2023-11-20 08:30:23.123
4795    Bob Johnson          3 2023-11-20 08:30:23.123
4796    Bob Johnson          3 2023-11-20 08:30:23.123
4797    Bob Johnson          3 2023-11-20 08:30:23.123

[1241 rows x 3 columns]

# 2. Schema creation - Kimball style

In [33]:
data.columns

Index(['account_id', 'account_holder', 'email', 'phone_number',
       'registration_date', 'is_active', 'address', 'city', 'state_province',
       'zip_code', 'country', 'preferred_contact_method', 'customer_segment',
       'marketing_opt_in', 'birth_date', 'balance_event_date',
       'acc_currency_code', 'available_balance_delta', 'available_balance',
       'client_id'],
      dtype='object')

## 2.1 Dimension table - Clients

In [34]:
clients_dim = data[['client_id', 'account_holder', 'birth_date', 'email', 'phone_number',
        'is_active',  'preferred_contact_method', 'customer_segment',
       'marketing_opt_in']].drop_duplicates()
clients_dim.rename(columns = {'account_holder': 'name'}, inplace= True)

In [35]:
clients_dim.head(20).sort_values(by='client_id')

,client_id,name,birth_date,email,phone_number,is_active,preferred_contact_method,customer_segment,marketing_opt_in
0,1,Henry Ford,1963-07-30,henry.ford@example,555-890-1234,True,Email,Platinum,True
3,2,Jack Black,1969-08-28,jack.black@example.com,555-012-3456,True,Email,Bronze,True
4,3,Bob Johnson,1985-07-20,bob.johnson@example.com,555-234-5678,True,Phone,Silver,True
12,4,Grace Kelly,1955-01-01,grace.kelly@example.com,555-789-0123,False,Phone,Bronze,False
16,5,Charlie Brown,1990-03-15,charlie.brown@12345,555-345-6789,True,Email,Bronze,False
23,6,Frank White,1982-04-25,frank.white@example.com,555-678-9012,True,Email,Gold,True
26,7,Diana Prince,1970-11-01,diana.prince@example.com,555-456-7890,True,Email,Platinum,True
27,8,Ivy Green,1988-12-05,ivy.green@example.com,555-901-2345EXT123,True,Phone,Silver,True
29,9,Karen Davis,1977-02-14,karen.davis@example.com,555-112-2334,True,Email,Gold,True
30,10,Eve Adams,1995-09-10,eve.adams@example.com,555-567-8901,True,Phone,Silver,False
86,11,Liam Miller,2000-03-01,liam.miller@example.com,555-223-3445,True,Phone,Silver,False
379,12,Alice Smith,2026-01-01,alice.smith@example.com,555-123-4567,True,Email,Gold,True

## 2.2 Dimension table - Accounts

In [36]:
accounts_dim = data[['account_id', 'client_id', 'registration_date', 'acc_currency_code']].drop_duplicates().reset_index(drop = True)

In [37]:
accounts_dim.head(20)

    account_id  client_id       registration_date acc_currency_code
0    338699727          1 2024-11-05 16:22:46.444               EUR
1    813199545          2 2025-02-01 10:30:58.789               EUR
2    178059014          3 2024-09-09 05:05:18.555               EUR
3    398404130          3 2023-11-20 08:30:23.123               EUR
4    816457126          4 2024-09-22 11:11:24.111               EUR
5     68835315          5 2024-10-01 14:00:13.000               EUR
6     36062696          6 2024-06-25 07:00:13.000               EUR
7    626922847          7 2024-11-01 09:15:33.500               EUR
8    144499580          8 2024-10-10 20:05:13.000               EUR
9    363887089          9 2024-11-05 01:02:16.000               EUR
10   956885655         10 2024-07-07 18:45:43.999               EUR
11    57970528         11 2025-01-01 12:00:13.000               EUR
12    51164261         12 2024-11-15 23:11:18.653               EUR

### 2.2.1 Create surrogate key dim_account_id

In [38]:
accounts_dim['dim_account_id'] = accounts_dim.index + 1

### 2.2.2 Rearrange columns

In [39]:
accounts_dim = accounts_dim.iloc[:, [-1, 0, 1, 2, 3,]]

In [40]:
accounts_dim.head(20)

,dim_account_id,account_id,client_id,registration_date,acc_currency_code
0,1,338699727,1,2024-11-05 16:22:46.444,EUR
1,2,813199545,2,2025-02-01 10:30:58.789,EUR
2,3,178059014,3,2024-09-09 05:05:18.555,EUR
3,4,398404130,3,2023-11-20 08:30:23.123,EUR
4,5,816457126,4,2024-09-22 11:11:24.111,EUR
5,6,68835315,5,2024-10-01 14:00:13.000,EUR
6,7,36062696,6,2024-06-25 07:00:13.000,EUR
7,8,626922847,7,2024-11-01 09:15:33.500,EUR
8,9,144499580,8,2024-10-10 20:05:13.000,EUR
9,10,363887089,9,2024-11-05 01:02:16.000,EUR
10,11,956885655,10,2024-07-07 18:45:43.999,EUR
11,12,57970528,11,2025-01-01 12:00:13.000,EUR
12,13,51164261,12,2024-11-15 23:11:18.653,EUR

## 2.3 Dimension table - Addresses

In [41]:
addresses_dim = data[['client_id', 'address', 'city', 'state_province','zip_code', 'country']].drop_duplicates().reset_index(drop = True)

In [42]:
addresses_dim.head(20)

    client_id          address            city state_province zip_code country
0           1     555 Auto Way        Dearborn             MI    48124     USA
1           2  777 Rock N Roll       Hollywood             CA    90028     USA
2           3      456 Oak Ave      Otherville             NY    10001     USA
3           4     444 Royal Dr     Monacoville             MC    98000  Monaco
4           5      789 Pine Ln       Smalltown             TX    75001     USA
5           6       333 Elm St       Woodville             GA    30303     USA
6           7    101 Hero Blvd      Metropolis             CA    90211     USA
7           8  666 Garden Path       Greendale             WA    98101     USA
8           9    888 Tech Park  Silicon Valley             CA    94025     USA
9          10     222 Apple Rd       Fruitland             FL    33101     USA
10         11   999 New Era St     Future City             ON  M5V 2H1  Canada
11         12      123 Main St         Anytown             CA    90210     USA

### 2.3.1 Create surrogate key dim_address_id

In [43]:
addresses_dim['dim_address_id'] = addresses_dim.index + 1

### 2.3.2 Rearrange columns

In [44]:
addresses_dim = addresses_dim.iloc[:, [-1, 0, 1, 2, 3, 4, 5]]

In [45]:
addresses_dim.head(12)

,dim_address_id,client_id,address,city,state_province,zip_code,country
0,1,1,555 Auto Way,Dearborn,MI,48124,USA
1,2,2,777 Rock N Roll,Hollywood,CA,90028,USA
2,3,3,456 Oak Ave,Otherville,NY,10001,USA
3,4,4,444 Royal Dr,Monacoville,MC,98000,Monaco
4,5,5,789 Pine Ln,Smalltown,TX,75001,USA
5,6,6,333 Elm St,Woodville,GA,30303,USA
6,7,7,101 Hero Blvd,Metropolis,CA,90211,USA
7,8,8,666 Garden Path,Greendale,WA,98101,USA
8,9,9,888 Tech Park,Silicon Valley,CA,94025,USA
9,10,10,222 Apple Rd,Fruitland,FL,33101,USA
10,11,11,999 New Era St,Future City,ON,M5V 2H1,Canada
11,12,12,123 Main St,Anytown,CA,90210,USA

In [46]:
addresses_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   dim_address_id  12 non-null     int64
 1   client_id       12 non-null     int64
 2   address         12 non-null     object
 3   city            12 non-null     object
 4   state_province  12 non-null     object
 5   zip_code        12 non-null     object
 6   country         12 non-null     object
dtypes: int64(2), object(5)
memory usage: 800.0+ bytes

## 2.4 Dimension table - Dates

In [47]:
dim_date = data['balance_event_date'].drop_duplicates().sort_values().reset_index()

In [48]:
dim_date.head(20)

    index  balance_event_date
0    4796 2023-11-30 12:30:00
1    4794 2023-12-10 17:34:00
2    4793 2023-12-10 17:35:00
3    4792 2023-12-19 05:26:00
4    4790 2024-01-01 09:24:00
5    4789 2024-01-01 09:25:00
6    4787 2024-01-04 12:28:00
7    4786 2024-01-04 12:29:00
8    4785 2024-01-07 22:44:00
9    4784 2024-01-08 10:19:00
10   4783 2024-01-08 13:53:00
11   4782 2024-01-10 11:10:00
12   4781 2024-01-11 09:19:00
13   4779 2024-01-12 15:42:00
14   4778 2024-01-12 15:43:00
15   4775 2024-01-14 11:25:00
16   4774 2024-01-17 08:45:00
17   4773 2024-01-17 09:11:00
18   4772 2024-01-17 11:35:00
19   4771 2024-01-17 14:16:00

In [49]:
dim_date['dim_date_id'] = dim_date.index + 1

In [50]:

dim_date['day'] = dim_date['balance_event_date'].dt.day
dim_date['month'] = dim_date['balance_event_date'].dt.month
dim_date['month_name'] = dim_date['balance_event_date'].dt.month_name()
dim_date['quarter'] = dim_date['balance_event_date'].dt.quarter
dim_date['year'] = dim_date['balance_event_date'].dt.year
dim_date['weekday_name'] = dim_date['balance_event_date'].dt.day_name()
dim_date.rename(columns={'balance_event_date': 'event_date'}, inplace=True)

In [51]:
dim_date.head(20)

,index,event_date,dim_date_id,day,month,month_name,quarter,year,weekday_name
0,4796,2023-11-30 12:30:00,1,30,11,November,4,2023,Thursday
1,4794,2023-12-10 17:34:00,2,10,12,December,4,2023,Sunday
2,4793,2023-12-10 17:35:00,3,10,12,December,4,2023,Sunday
3,4792,2023-12-19 05:26:00,4,19,12,December,4,2023,Tuesday
4,4790,2024-01-01 09:24:00,5,1,1,January,1,2024,Monday
5,4789,2024-01-01 09:25:00,6,1,1,January,1,2024,Monday
6,4787,2024-01-04 12:28:00,7,4,1,January,1,2024,Thursday
7,4786,2024-01-04 12:29:00,8,4,1,January,1,2024,Thursday
8,4785,2024-01-07 22:44:00,9,7,1,January,1,2024,Sunday
9,4784,2024-01-08 10:19:00,10,8,1,January,1,2024,Monday
10,4783,2024-01-08 13:53:00,11,8,1,January,1,2024,Monday
11,4782,2024-01-10 11:10:00,12,10,1,January,1,2024,Wednesday
12,4781,2024-01-11 09:19:00,13,11,1,January,1,2024,Thursday
13,4779,2024-01-12 15:42:00,14,12,1,January,1,2024,Friday
14,4778,2024-01-12 15:43:00,15,12,1,January,1,2024,Friday
15,4775,2024-01-14 11:25:00,16,14,1,January,1,2024,Sunday
16,4774,2024-01-17 08:45:00,17,17,1,January,1,2024,Wednesday
17,4773,2024-01-17 09:11:00,18,17,1,January,1,2024,Wednesday
18,4772,2024-01-17 11:35:00,19,17,1,January,1,2024,Wednesday
19,4771,2024-01-17 14:16:00,20,17,1,January,1,2024,Wednesday

In [52]:
dim_date = dim_date.iloc[:, [2, 1, 3, 4, 5, 6, 7, 8]]

## 2.5 Fact table - Transactions

In [53]:
data = data.merge(dim_date[['dim_date_id', 'event_date']], left_on='balance_event_date', right_on='event_date', how='left')
data = data.merge(accounts_dim[['dim_account_id', 'account_id']], on='account_id', how='left')

In [54]:
data.head()

,account_id,account_holder,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,...,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance,client_id,dim_date_id,event_date,dim_account_id
0,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,-105.19,1.05,1,2830,2025-05-27 21:20:00,1
1,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,1.05,106.23,1,2830,2025-05-27 21:20:00,1
2,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,104.50,105.19,1,2830,2025-05-27 21:20:00,1
3,813199545,Jack Black,jack.black@example.com,555-012-3456,2025-02-01 10:30:58.789,True,777 Rock N Roll,Hollywood,CA,90028,...,True,1969-08-28,2025-05-27 20:40:00,EUR,-371.94,2177.78,2,2829,2025-05-27 20:40:00,2
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,2024-09-09 05:05:18.555,True,456 Oak Ave,Otherville,NY,10001,...,True,1985-07-20,2025-05-27 13:56:00,EUR,-165.50,1.66,3,2828,2025-05-27 13:56:00,3

In [55]:
data = data.sort_index(ascending = False).reset_index(drop = True)

In [56]:
facts = data[['dim_date_id', 'dim_account_id', 'client_id', 'available_balance_delta', 'available_balance']]

In [57]:
facts.head()

,dim_date_id,dim_account_id,client_id,available_balance_delta,available_balance
0,1,4,3,38.25,38.25
1,1,4,3,17.85,56.10
2,2,4,3,45.90,102.00
3,2,4,3,1.38,103.38
4,3,4,3,-102.00,1.38

In [69]:
data[data['client_id']==1]

,account_id,account_holder,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,...,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance,client_id,dim_date_id,event_date,dim_account_id
966,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2024-11-26 10:14:00,EUR,38.25,38.25,1,548,2024-11-26 10:14:00,1
1170,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2024-12-05 22:38:00,EUR,127.50,165.75,1,669,2024-12-05 22:38:00,1
1171,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2024-12-05 22:38:00,EUR,1.28,167.03,1,669,2024-12-05 22:38:00,1
1172,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2024-12-05 22:38:00,EUR,-38.43,128.60,1,669,2024-12-05 22:38:00,1
1197,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2024-12-06 18:56:00,EUR,-47.12,81.47,1,685,2024-12-06 18:56:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4731,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-23 20:13:00,EUR,0.69,72.09,1,2794,2025-05-23 20:13:00,1
4732,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-23 20:13:00,EUR,-71.40,0.69,1,2794,2025-05-23 20:13:00,1
4795,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,104.50,105.19,1,2830,2025-05-27 21:20:00,1
4796,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,1.05,106.23,1,2830,2025-05-27 21:20:00,1
4797,338699727,Henry Ford,henry.ford@example,555-890-1234,2024-11-05 16:22:46.444,True,555 Auto Way,Dearborn,MI,48124,...,True,1963-07-30,2025-05-27 21:20:00,EUR,-105.19,1.05,1,2830,2025-05-27 21:20:00,1

# 3. Database

## 3.1 Connection details to database

In [59]:
db_engine = create_engine("postgresql+psycopg2://postgres:transactions25@localhost:5434/postgres")

## 3.2 Create dimensions and fact tables

### 3.2.1 DDLs setup

In [60]:
dim_clients = '''
CREATE TABLE dim_clients (
    client_id                   SERIAL PRIMARY KEY,
    name                        VARCHAR(255),
    birth_date                  TIMESTAMP, 
    email                       VARCHAR(255),
    phone_number                VARCHAR(50),
    is_active                   BOOLEAN,
    preferred_contact_method    VARCHAR(50),
    customer_segment            VARCHAR(50),
    marketing_opt_in            BOOLEAN
);
'''

dim_addresses = '''
CREATE TABLE dim_addresses (
    dim_address_id              SERIAL PRIMARY KEY,
    client_id                   INTEGER REFERENCES dim_clients(client_id),
    address                     VARCHAR(100),
    city                        VARCHAR(100),
    state_province              VARCHAR(20),
    zip_code                    VARCHAR(20),
    country                     VARCHAR(100)
);
'''

dim_accounts = '''
CREATE TABLE dim_accounts (
    dim_account_id              SERIAL PRIMARY KEY, 
    account_id                  VARCHAR(50), 
    client_id                   INTEGER REFERENCES dim_clients(client_id), 
    registration_date           TIMESTAMP,
    acc_currency_code           VARCHAR(10)
);
'''

dim_dates = '''
CREATE TABLE dim_dates (
    dim_date_id                 SERIAL PRIMARY KEY,
    event_date                  TIMESTAMP,
    day                         INTEGER,
    month                       INTEGER,
    month_name                  VARCHAR(20),
    quarter                     INTEGER,
    year                        INTEGER,
    weekday_name                VARCHAR(20)
);
'''

fact_transactions = '''
CREATE TABLE fact_transactions (
    transaction_id              SERIAL PRIMARY KEY,
    dim_date_id                 INTEGER REFERENCES dim_dates(dim_date_id),                
    dim_account_id              INTEGER REFERENCES dim_accounts(dim_account_id),
    client_id                   INTEGER REFERENCES dim_clients(client_id),
    available_balance_delta     NUMERIC(18,2),
    available_balance           NUMERIC(18,2)
);
'''

### 3.2.2 Connect to database and create tables

In [61]:
with db_engine.begin() as connection:
    connection.execute(dim_clients)
    connection.execute(dim_addresses)
    connection.execute(dim_accounts)
    connection.execute(dim_dates)
    connection.execute(fact_transactions)

## 3.3 Populate tables with respective pandas dataframes

In [62]:
clients_dim.to_sql(
    name='dim_clients',
    con=db_engine,
    if_exists='append',  # Don't overwrite the table
    index=False,
    method='multi'       # Efficient batch inserts
)

12

In [63]:
addresses_dim.to_sql(
    name='dim_addresses',
    con=db_engine,
    if_exists='append',  # Don't overwrite the table
    index=False,
    method='multi'       # Efficient batch inserts
)

12

In [64]:
accounts_dim.to_sql(
    name='dim_accounts',
    con=db_engine,
    if_exists='append',  # Don't overwrite the table
    index=False,
    method='multi'       # Efficient batch inserts
)

13

In [65]:
dim_date.to_sql(
    name='dim_dates',
    con=db_engine,
    if_exists='append',  # Don't overwrite the table
    index=False,
    method='multi'       # Efficient batch inserts
)

2830

In [66]:
facts.to_sql(
    name='fact_transactions',
    con=db_engine,
    if_exists='append',  # Don't overwrite the table
    index=False,
    method='multi'       # Efficient batch inserts 
)

4798

# 4. KPIs

## 4.1 Client Engagement

Quantify how quickly clients perform their initial recorded action after their registration date.

In [ ]:
first_event_interval  = '''
SELECT account_id, client_id, registration_date, md.first_event, md.first_event-registration_date as first_event_interval
FROM dim_accounts acc
INNER JOIN(
    SELECT ft.dim_account_id, MIN(event_date) as first_event
    FROM fact_transactions ft
    INNER JOIN dim_dates dd
    ON ft.dim_date_id = dd.dim_date_id	
    GROUP BY dim_account_id) as md
ON acc.dim_account_id = md.dim_account_id
ORDER BY first_event_interval 
);
'''

## 4.2 Overall Fund Movement

What is the total monetary value of funds that have flowed into client accounts and the total monetary value that has flowed out of client accounts across the entire dataset? (Positive & Negative amounts).

In [ ]:
overall_fund_movement = '''
SELECT 
SUM(CASE WHEN ft.available_balance_delta > 0 THEN ft.available_balance_delta ELSE 0 END) AS positive_flows,
SUM(CASE WHEN ft.available_balance_delta < 0 THEN ft.available_balance_delta ELSE 0 END) AS negative_flows
FROM fact_transactions ft
;
'''

## 4.3 Client Inactivity Ranking (Longest Stretch)

Rank clients by their longest consecutive period of financial inactivity