# 0. Import packages/libraries

In [2]:
import pandas as pd
import numpy as np

# 1. Dataset - Loading, Exploration and Cleaning

## 1.1 Dataset - Load

In [83]:
data = pd.read_csv('../data/dataset.csv')

## 1.2 Dataset - Explore

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         4798 non-null   object
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   object
 15  balance_event_date        4798 non-null   object
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   object
 18  available_balance         4798 non-null   object
dtypes: bool(2), int64(1), object(16)
memory usage: 646.7+ KB

In [5]:
data.head()

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
0,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"-105,19","1,05"
1,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"1,05","106,23"
2,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"104,5","105,19"
3,813199545,Jack Black,jack.black@example.com,555-012-3456,"1 February, 2025, 10:30:58.789",True,777 Rock N Roll,Hollywood,CA,90028,USA,Email,Bronze,True,"28 August, 1969","27 May, 2025, 20:40",EUR,"-371,94","2.177,78"
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"-165,5","1,66"

In [8]:
data[data['client_name']=='Bob Johnson']

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"-165,5","1,66"
5,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"1,66","167,15"
6,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"164,68","165,5"
10,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:48",EUR,"-100,37","172,48"
20,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 09:42",EUR,"-81,63","0,82"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4793,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","10 December, 2023, 17:35",EUR,-102,"1,38"
4794,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","10 December, 2023, 17:34",EUR,"1,38","103,38"
4795,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","10 December, 2023, 17:34",EUR,"45,9",102
4796,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","30 November, 2023, 12:30",EUR,"17,85","56,1"
4797,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,"20 November, 2023, 08:30:23.123",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","30 November, 2023, 12:30",EUR,"38,25","38,25"

In [9]:
unique_column_values = {column: (data[column].nunique(), data[column].unique()) for column in data.columns}

In [10]:
unique_column_values

{'substring': (13,
  array([338699727, 813199545, 178059014, 398404130, 816457126,  68835315,
          36062696, 626922847, 144499580, 363887089, 956885655,  57970528,
          51164261], dtype=int64)),
 'client_name': (12,
  array(['Henry Ford', 'Jack Black', 'Bob Johnson', 'Grace Kelly',
         'Charlie Brown', 'Frank White', 'Diana Prince', 'Ivy Green',
         'Karen Davis', 'Eve Adams', 'Liam Miller', 'Alice Smith'],
        dtype=object)),
 'email': (12,
  array(['henry.ford@example', 'jack.black@example.com',
         'bob.johnson@example.com', 'grace.kelly@example.com',
         'charlie.brown@12345', 'frank.white@example.com',
         'diana.prince@example.com', 'ivy.green@example.com',
         'karen.davis@example.com', 'eve.adams@example.com',
         'liam.miller@example.com', 'alice.smith@example.com'], dtype=object)),
 'phone_number': (12,
  array(['555-890-1234', '555-012-3456', '555-234-5678', '555-789-0123',
         '555-345-6789', '555-678-9012', '555-456-7890',
         '555-901-2345EXT123', '555-112-2334', '555-567-8901',
         '555-223-3445', '555-123-4567'], dtype=object)),
 'registration_date': (13,
  array(['5 November, 2024, 16:22:46.444', '1 February, 2025, 10:30:58.789',
         '9 September, 2024, 05:05:18.555',
         '20 November, 2023, 08:30:23.123',
         '22 September, 2024, 11:11:24.111',
         '1 October, 2024, 14:00:13.000', '25 June, 2024, 07:00:13.000',
         '1 November, 2024, 09:15:33.500', '10 October, 2024, 20:05:13.000',
         '5 November, 2024, 01:02:16.000', '7 July, 2024, 18:45:43.999',
         '1 January, 2025, 12:00:13.000', '15 November, 2024, 23:11:18.653'],
        dtype=object)),
 'is_active': (2, array([ True, False])),
 'address': (12,
  array(['555 Auto Way', '777 Rock N Roll', '456 Oak Ave', '444 Royal Dr',
         '789 Pine Ln', '333 Elm St', '101 Hero Blvd', '666 Garden Path',
         '888 Tech Park', '222 Apple Rd', '999 New Era St', '123 Main St'],
        dtype=object)),
 'city': (12,
  array(['Dearborn', 'Hollywood', 'Otherville', 'Monacoville', 'Smalltown',
         'Woodville', 'Metropolis', 'Greendale', 'Silicon Valley',
         'Fruitland', 'Future City', 'Anytown'], dtype=object)),
 'state_province': (9,
  array(['MI', 'CA', 'NY', 'MC', 'TX', 'GA', 'WA', 'FL', 'ON'], dtype=object)),
 'zip_code': (12,
  array(['48124', '90028', '10001', '98000', '75001', '30303', '90211',
         '98101', '94025', '33101', 'M5V 2H1', '90210'], dtype=object)),
 'country': (3, array(['USA', 'Monaco', 'Canada'], dtype=object)),
 'preferred_contact_method': (2, array(['Email', 'Phone'], dtype=object)),
 'customer_segment': (4,
  array(['Platinum', 'Bronze', 'Silver', 'Gold'], dtype=object)),
 'marketing_opt_in': (2, array([ True, False])),
 'birth_date': (12,
  array(['30 July, 1963', '28 August, 1969', '20 July, 1985',
         '1 January, 1955', '15 March, 1990', '25 April, 1982',
         '1 November, 1970', '5 December, 1988', '14 February, 1977',
         '10 September, 1995', '1 March, 2000', '1 January, 2026'],
        dtype=object)),
 'balance_event_date': (2830,
  array(['27 May, 2025, 21:20', '27 May, 2025, 20:40',
         '27 May, 2025, 13:56', ..., '10 December, 2023, 17:35',
         '10 December, 2023, 17:34', '30 November, 2023, 12:30'],
        dtype=object)),
 'acc_currency_code': (1, array(['EUR'], dtype=object)),
 'available_balance_delta': (2836,
  array(['-105,19', '1,05', '104,5', ..., '-269,59', '8,03', '268,21'],
        dtype=object)),
 'available_balance': (3674,
  array(['1,05', '106,23', '105,19', ..., '14,13', '103,38', '102'],
        dtype=object))}

In [14]:
data.groupby(['substring', 'client_name', 'birth_date', 'registration_date']).size().reset_index().rename(columns={0:'count'})

,substring,client_name,birth_date,registration_date,count
0,36062696,Frank White,"25 April, 1982","25 June, 2024, 07:00:13.000",382
1,51164261,Alice Smith,"1 January, 2026","15 November, 2024, 23:11:18.653",53
2,57970528,Liam Miller,"1 March, 2000","1 January, 2025, 12:00:13.000",279
3,68835315,Charlie Brown,"15 March, 1990","1 October, 2024, 14:00:13.000",500
4,144499580,Ivy Green,"5 December, 1988","10 October, 2024, 20:05:13.000",291
5,178059014,Bob Johnson,"20 July, 1985","9 September, 2024, 05:05:18.555",282
6,338699727,Henry Ford,"30 July, 1963","5 November, 2024, 16:22:46.444",297
7,363887089,Karen Davis,"14 February, 1977","5 November, 2024, 01:02:16.000",283
8,398404130,Bob Johnson,"20 July, 1985","20 November, 2023, 08:30:23.123",959
9,626922847,Diana Prince,"1 November, 1970","1 November, 2024, 09:15:33.500",459
10,813199545,Jack Black,"28 August, 1969","1 February, 2025, 10:30:58.789",295
11,816457126,Grace Kelly,"1 January, 1955","22 September, 2024, 11:11:24.111",305
12,956885655,Eve Adams,"10 September, 1995","7 July, 2024, 18:45:43.999",413

## 1.3 Dataset - Cleaning

### 1.3.1 Convert specific columns to date and timestamps/datetimes

In [87]:
data['birth_date'].unique()

array(['30 July, 1963', '28 August, 1969', '20 July, 1985',
       '1 January, 1955', '15 March, 1990', '25 April, 1982',
       '1 November, 1970', '5 December, 1988', '14 February, 1977',
       '10 September, 1995', '1 March, 2000', '1 January, 2026'],
      dtype=object)

In [80]:
data[['birth_date', 'registration_date', 'balance_event_date']]

,birth_date,registration_date,balance_event_date
0,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
1,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
2,"30 July, 1963","5 November, 2024, 16:22:46.444","27 May, 2025, 21:20"
3,"28 August, 1969","1 February, 2025, 10:30:58.789","27 May, 2025, 20:40"
4,"20 July, 1985","9 September, 2024, 05:05:18.555","27 May, 2025, 13:56"
...,...,...,...
4793,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:35"
4794,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:34"
4795,"20 July, 1985","20 November, 2023, 08:30:23.123","10 December, 2023, 17:34"
4796,"20 July, 1985","20 November, 2023, 08:30:23.123","30 November, 2023, 12:30"
4797,"20 July, 1985","20 November, 2023, 08:30:23.123","30 November, 2023, 12:30"

In [86]:
data['birth_date'] =  pd.to_datetime(data['birth_date'], format='%d %B, %Y')
# data['registration_date'] =  pd.to_datetime(data['registration_date'], errors = 'coerce', format='%d %B, %Y, %H:%M:%S.%f')
# data['balance_event_date'] =  pd.to_datetime(data['balance_event_date'], errors = 'coerce', format='%d %B, %Y, %H:%M')

ValueError: time data "30 July, 1963" doesn't match format "%d %B, %Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [82]:
data['birth_date']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
4793   NaT
4794   NaT
4795   NaT
4796   NaT
4797   NaT
Name: birth_date, Length: 4798, dtype: datetime64[ns]

In [57]:
data['registration_date']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
4793   NaT
4794   NaT
4795   NaT
4796   NaT
4797   NaT
Name: registration_date, Length: 4798, dtype: datetime64[ns]

In [58]:
data['balance_event_date']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
4793   NaT
4794   NaT
4795   NaT
4796   NaT
4797   NaT
Name: balance_event_date, Length: 4798, dtype: datetime64[ns]

In [49]:
data[data['balance_event_date'].isna()]

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
0,338699727,Henry Ford,henry.ford@example,555-890-1234,NaT,True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,1963-07-30,NaT,EUR,"-105,19","1,05"
1,338699727,Henry Ford,henry.ford@example,555-890-1234,NaT,True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,1963-07-30,NaT,EUR,"1,05","106,23"
2,338699727,Henry Ford,henry.ford@example,555-890-1234,NaT,True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,1963-07-30,NaT,EUR,"104,5","105,19"
3,813199545,Jack Black,jack.black@example.com,555-012-3456,NaT,True,777 Rock N Roll,Hollywood,CA,90028,USA,Email,Bronze,True,1969-08-28,NaT,EUR,"-371,94","2.177,78"
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,"-165,5","1,66"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4793,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,-102,"1,38"
4794,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,"1,38","103,38"
4795,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,"45,9",102
4796,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,"17,85","56,1"
4797,398404130,Bob Johnson,bob.johnson@example.com,555-234-5678,NaT,True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,1985-07-20,NaT,EUR,"38,25","38,25"

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         0 non-null      datetime64[ns]
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   datetime64[ns]
 15  balance_event_date        0 non-null      datetime64[ns]
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   object
 18  available_balance         4798 non-null   object
dtypes: bool(2), datetime64[ns](3), int64(1), object(13)
memory usage: 646.7+ KB