In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/dataset.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4798 entries, 0 to 4797
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   substring                 4798 non-null   int64
 1   client_name               4798 non-null   object
 2   email                     4798 non-null   object
 3   phone_number              4798 non-null   object
 4   registration_date         4798 non-null   object
 5   is_active                 4798 non-null   bool
 6   address                   4798 non-null   object
 7   city                      4798 non-null   object
 8   state_province            4798 non-null   object
 9   zip_code                  4798 non-null   object
 10  country                   4798 non-null   object
 11  preferred_contact_method  4798 non-null   object
 12  customer_segment          4798 non-null   object
 13  marketing_opt_in          4798 non-null   bool
 14  birth_date                4798 non-null   object
 15  balance_event_date        4798 non-null   object
 16  acc_currency_code         4798 non-null   object
 17  available_balance_delta   4798 non-null   object
 18  available_balance         4798 non-null   object
dtypes: bool(2), int64(1), object(16)
memory usage: 646.7+ KB

In [4]:
data.head()

,substring,client_name,email,phone_number,registration_date,is_active,address,city,state_province,zip_code,country,preferred_contact_method,customer_segment,marketing_opt_in,birth_date,balance_event_date,acc_currency_code,available_balance_delta,available_balance
0,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"-105,19","1,05"
1,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"1,05","106,23"
2,338699727,Henry Ford,henry.ford@example,555-890-1234,"5 November, 2024, 16:22:46.444",True,555 Auto Way,Dearborn,MI,48124,USA,Email,Platinum,True,"30 July, 1963","27 May, 2025, 21:20",EUR,"104,5","105,19"
3,813199545,Jack Black,jack.black@example.com,555-012-3456,"1 February, 2025, 10:30:58.789",True,777 Rock N Roll,Hollywood,CA,90028,USA,Email,Bronze,True,"28 August, 1969","27 May, 2025, 20:40",EUR,"-371,94","2.177,78"
4,178059014,Bob Johnson,bob.johnson@example.com,555-234-5678,"9 September, 2024, 05:05:18.555",True,456 Oak Ave,Otherville,NY,10001,USA,Phone,Silver,True,"20 July, 1985","27 May, 2025, 13:56",EUR,"-165,5","1,66"